@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lustria');

:root {
  --primary-color: #009688;

  --secundary-color-dark:#4c5b7d;
  --secundary-color-vivid:#FF5722;

  --neutral-color: #f4f2ea;
  --neutral-color-02: #d3d4d675;

  --container-width-mobile: 90vw;
  --nav-height: 70px
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-color);
  background-color: var(--neutral-color);

  width: 100vw;
  max-width: 100%;

}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.4em;
  color: var(--neutral-color);
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  padding-bottom: 2.4em;
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8em;
  padding-bottom: 24px;
}

h5 {
  font-size: 1.2em;
  font-weight: 800;
  padding-bottom: 24px;
  color: #F44336;
  text-transform: uppercase;
}

p {
  font-size: 1.5em;
  line-height: 1.9em;
}

p strong, li strong {
  color: var(--secundary-color-dark);
}

p.obs {
  background: var(--neutral-color-02);
  color: var(--secundary-color-dark);
  padding: 0 2px;
  margin-bottom: 24px;
}

.container_article > p {
  color: var(--neutral-color);
}

p strong.codigo, li strong.codigo {
  background-color: var(--primary-color);
  color: var(--neutral-color);
  border-radius: 2px;
  font-family: consolas,"Liberation Mono",courier,monospace;
  padding: 0 8px;
  font-weight: 100;
  word-wrap: break-word;
}

.container_master {
	width: var(--container-width-mobile);
	min-height: calc(100vh - var(--nav-height));
	margin: auto;
	padding-top: 24px;
	padding-bottom: 24px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
}

.container_title {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  padding: 20px 20px 0 20px;
}

.container_article{
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  padding: 0 20px 20px 20px;
}

.container_video{
  width: var(--container-width-mobile);
  height: calc(9 / 16 * var(--container-width-mobile));
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}

.container_links{
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.background {
  background-color: var(--secundary-color-vivid);
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  z-index: -1;
}

/*React Player*/
.container_thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

.container_thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_thumbnail > button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: url("./img/play-button.png") center / contain no-repeat;
  border: none;
  overflow: hidden;
  text-indent: -300%;
}


.example_code{
  width: 100%;
}

.header_highlighter{
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px 10px 0px 0px;
  transform: translateY(5px);
}

.copy_button {
  width: 90px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  font-size: 12px;
  color: var(--secundary-color-dark);
  font-family: 'Lato', sans-serif;
}

.copy_button::after{
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left:0;
  top:0;
  background: url(./img/data-icon.svg) center / contain no-repeat;
  background-size: 55%;
}

.copied  {
  width: 90px;
  height: 30px;
  font-size: 12px;
  color: var(--secundary-color-dark);
  position: relative;
  /* background-color: #4c5b7d; */
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copied::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left:0;
  top:0;
  background: url(./img/check-icon.svg) center / contain no-repeat;
  background-size: 45%;
}

.item {
  border: solid 1px rgba(62, 71, 105, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item p {
  color: rgba(62, 71, 105, 0.3);
  padding-bottom: inherit;
}

div[class*="exemplo_"] {
  background: var(--neutral-color-02);
  margin-bottom: 24px;
  padding: 10px;
}
/*01*/
.exemplo_1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 100px;
	grid-gap: 10px;	
}

/*02*/
.exemplo_2{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 100px 100px;
	grid-gap: 10px;	
}

/*03*/
.exemplo_3{
	display: grid;
	grid-template-columns: 30px 1fr 2fr;
	grid-template-rows: 100px 100px;
	grid-gap: 10px;	
}

/*04*/
.exemplo_4{
	display: grid;
	grid-template-columns: repeat(2, 2fr) 1fr;
	grid-template-rows: 100px 100px;
	grid-gap: 10px;	
}

/*05*/
.exemplo_5{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

/*06*/
.exemplo_6{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-gap: 10px;
}
.resultado { overflow: hidden;
}
.resize{
  max-width: 100%;
  min-height: 10px;
  resize: horizontal;
  overflow: auto;
}

/*07*/
.exemplo_7{
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-auto-rows: 100px;
	grid-gap: 10px;
}

/*08*/
.exemplo_8{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: 100px;
	grid-gap: 10px;
}

/*posicionando Elementos no grid */

/*09*/
.exemplo_9{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-gap: 10px;
}


/*10*/
.exemplo_10{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-gap: 10px;
}
.exemplo_10 .item:nth-child(1) {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}

/*11*/
.exemplo_11{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-gap: 10px;
}
.exemplo_11 .item:nth-child(1) {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}
/* usando grid-area */
/*12*/
.exemplo_12{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-gap: 10px;
}
.exemplo_12 .item:nth-child(1) {
	grid-area: 1 / 2 / 3 / 4;
}

/*usando line-names */
/*13*/
.exemplo_13{
	display: grid;
	grid-template-columns: [main-start] 1fr [content-start] 1fr [content-end] 1fr [main-end];
	grid-template-rows: [main-start] 100px [content-start] 100px [content-end] 100px [main-end];
	grid-gap: 10px;
}
.exemplo_13 .item:nth-child(1) {
	grid-row-start: content-end;
	grid-column-start: content-end;
	grid-row-end: main-end;
	grid-column-end: main-end;
	
}
.exemplo_13 .item:nth-child(2) {
	grid-area: main-start / main-start / main-end / content-start;	
}

.exemplo_13 .item:nth-child(3) {
	grid-area: content ;
}

/*usando grid-areas */
/*14*/
.exemplo_14{
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	grid-template-rows: repeat(3 , 200px);
	grid-gap: 10px;
	grid-template-areas:	" side1 main main"
							" . main main"
							" . footer footer"
}
.exemplo_14 .item:nth-child(1) {
	grid-area: side1;
	
}
.exemplo_14 .item:nth-child(2) {
	grid-area: footer;	
}

.exemplo_14 .item:nth-child(3) {
	grid-area: main;
}