@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lustria');

:root {
  --primary-color: #009688;

  --secundary-color-dark:#4c5b7d;
  --secundary-color-vivid:#FF5722;

  --neutral-color: #f4f2ea;
  --neutral-color-02: #d3d4d675;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-color);
}